@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-green: #4caf50;
  --color-red: #f44336;
  --font-family-default: "Roboto", sans-serif;
  --font-family-gill-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (prefers-reduced-motion) {
  .c.wordtiles,
  .guesstiles {
    transition: none;
  }
}

body {
  font: 400 16px/1.5 var(--font-family-default);
  background-color: #222;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

.header {
  color: #fff;
  font-weight: bold;
  padding: 1em 0;
  text-align: center;
  align-items: center;
}

h1 {
  margin: 0;
}

.header-word {
  color: rgb(157, 199, 255);
  font-size: 6vh;
}

.header-hurl {
  color: rgb(255, 255, 255);
  font-size: 4vh;
}

.how-to-play-container {
  display: block;
  color: #fff;
  padding-left: 20vw;
  padding-right: 20vw;
  width: 100%;
  text-align: center;
  align-items: center;
}

.how-to-play-toggle,
.fa-refresh {
  background-color: transparent;
  cursor: pointer;
  font-size: 5vh;
  margin-bottom: 0.75rem;
}

.fa-refresh { margin-left: 10px; }
.fa-refresh.hidden { display: none; }

.how-to-play-toggle:hover,
.fa-refresh:hover {
  transform: scale(150%);
  transition: transform 0.2s ease-in-out;
}

.how-to-play-content {
  font-family: var(--font-family-gill-sans);
  font-size: 2vh;
  display: contents;
  text-align: left;
  align-items: center;
}

.playfield-container {
  display: block;
  align-items: center;
  width: 100%;
}

.playfield {
  text-align: center;
}

.label {
  color: #fff;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
}

.wordtile.matched {
  background-color: var(--color-green);
  color: #fff;
}

.wordtile {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  color: #555;
  vertical-align: top;
}

.wordtile:hover {
  transform: scale(110%);
  transition: scale 0.2s ease-in-out;
}

.wordtile.selected {
  border: 0.2rem solid #fff;
  transform: scale(110%);
  transition: scale 0.2s ease-in-out;
}

.misses-remaining {
  margin-bottom: 1rem;
  font-size: 3vh;
}

.fa-dot-circle,
.fa-circle {
  margin-left: 5px;
}

.fa-dot-circle {
  color: var(--color-green);
}

.fa-circle {
  color: var(--color-red);
}

.guesstile {
  cursor: default;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.guesstile.miss {
  animation: shake 1s;
  background-color: var(--color-red);
  cursor: not-allowed;
}

.guesstile.matched {
  background-color: #eee;
  opacity: 0.75;
  color: #999;
}

.guesstile.disallowed {
  cursor: not-allowed;
  opacity: 0.6;
}

.ready .guesstile:not(.matched):not(.miss):hover {
  cursor: pointer;
  transform: scale(110%);
  transition: scale 0.2s ease-in-out;
}

.historytile {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 2rem;
  background-color: #111;
  color: #777;
}

.historytile.matched {
  background-color: var(--color-green);
  color: #fff;
}

.historytile.miss {
  background-color: var(--color-red);
  color: #fff;
}

.wordtile:hover,
.ready .guesstile:not(.matched):not(.miss):hover {
  border: 0;
  background-image: linear-gradient(90deg, #fff 50%, transparent 50%),
    linear-gradient(90deg, #fff 50%, transparent 50%),
    linear-gradient(0deg, #fff 50%, transparent 50%),
    linear-gradient(0deg, #fff 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 0.8rem 0.1rem, 0.8rem 0.1rem, 0.1rem 0.8rem, 0.1rem 0.8rem;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }

  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px,
      right top 15px;
  }
}

button.hidden {
  visibility: hidden;
  transform: scale(150%);
}

button {
  width: 8vh;
  height: 8vh;
  border: none;
  background-color: #555;
  color: white;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3vh;
  cursor: pointer;
  transform: scale(100%);
  transition: 0.3s ease-in-out;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0px;
  color: rgb(255, 255, 255);
  font-size: 2vh;
  font-weight: bold;
  padding: 1em 0;
  text-align: center;
  align-items: center;
}

.footer-word {
  color: rgb(157, 199, 255);
  font-size: 2vh;
}

.footer-hurl {
  color: rgb(255, 255, 255);
  font-size: 1.5vh;
}

.footer a {
  color: rgb(157, 199, 255);
  text-decoration-color: rgb(255, 255, 255);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #222;
}

.modal-button {
  background-color: #fff;
  color: #000;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  align-content: center;
  display: block;
  font-size: 1rem;
  margin-left: 37.5vw;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 5px solid #555;
  width: 25vw;
}

.modal-content {
  background-color: #555;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.modal-content-button {
  background-color: #fff;
  color: #000;
  padding: 10px;
  width: 8rem;
  text-align: center;
  text-decoration: none;
  align-content: center;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #555;
}

.modal-close {
  color: #ccc;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
